
.tempRow5 {
    margin-top: 3%;
}

.photoRoom {
    max-width: 300px;
}

.titles {
    text-align: center;
    font-size: 25px;
    color: #282c34;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;

}

.titles2 {
    font-size: 20px;
    color: #282c34;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;

}

.pokoje .textStandart {

    margin-top: 20px;
    font-family: 'Cinzel', serif;
}

.btn {
    clear: both;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.GlowneFoto {
    display: none;
}

.ikons {
    padding-top: 3%;
    padding-right: 2%;
    color: rgba(255, 255, 255, 0.55);
    font-size: 36px;
}

.titleRoom {
    color: #282c34;
    text-transform: uppercase;
}

.descriptionRoom {
    color: #282c34;
    font-size: 20px;
}

.tempRow3 {
    max-width: 48vw;
    margin: 0 auto;
}

.textIcons {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: rgba(255, 198, 133, 0.55);
}

.tempRow4 {
    background-color: #150d1a;
    padding: 3%;
    margin-top: 3%;
}

.temRow6 {
    margin-top: 3%;
}

@media only screen and (max-width: 600px) {
    .textStandart {
        padding-top: 0;
    }

    .textIcons {
        font-size: 20px;
    }

    .ikons {
        font-size: 25px;
    }

    .btn {
        margin-top: 18px;
    }

    .textStandart > h2 {
        margin: 0;
        font-size: 18px;
    }

    .textStandart > h3 {
        margin: 0;
        font-size: 15px;
        padding-bottom: 10px;
        color: #ffab67;
    }

    .GlowneFoto {
        display: flex;
        width: 100vw;
        height: auto;
    }

    .fotoGlowne > h2 {
        position: absolute;
        color: white;
        font-size: 30px;
        left: 0;
        right: 0;
        text-align: center;
        top: 17%;
        font-family: 'Cinzel', serif;
        text-shadow: 3px 3px 3px #000;

    }

    .fotoGlowne > h3 {
        position: absolute;
        color: white;
        font-size: 18px;
        left: 0;
        right: 0;
        text-align: center;
        justify-content: center;
        top: 25%;
        font-family: 'Cinzel', serif;
        text-shadow: 3px 3px 3px #000;
    }

    .pas {
        width: 100vw;
        padding-top: 20px;
    }

    .container > h2 {
        padding-top: 10px;
    }

    .rowContainer .block1 > p {
        font-size: 15px;

    }

    .tempRow3 {
        max-width: 90%;
        text-align: center;
    }

    .rowContainer .block2 > p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1800px) {
    .temRow6 {
        text-align: center;
    }
}