
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.container > h2 {
    text-align: center;
    padding-top: 50px;
    font-family: 'Cinzel', serif;
    font-size: 25px;
    color: #282c34;
    margin: 0;
}

.container > h3 {
    text-align: center;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    padding-bottom: 20px;
}

.container .pokoje {
    justify-content: center;
    margin-top: 30px;
}

.textStandart {
    padding-top: 15%;
}

.textStandart > p {
    color: #ffab67;
}

.textStandart > h3 {
    font-size: 20px;
}

.textStandart > h2 {
    font-size: 25px;
    color: #282c34;

}

.container .room {
    text-align: center;
}

.pokoje .textStandart {

    margin-top: 20px;
    font-family: 'Cinzel', serif;
}

.btn {
    clear: both;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.room img {
    width: 300px;
    height: auto;
}

.rowContainer {
    width: 100vw;
    min-height: 250px;
    background-color: #150d1a;
    color: rgba(255, 198, 133, 0.55);

    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    display: inline-block;

}

.rowContainer .block1 {
    float: left;
    margin-top: 30px

}

.rowContainer .block2 {
    margin-top: 30px;
}

.rowContainer .block1 > p {
    padding-top: 20px;
}

.rowContainer .block2 > p {
    padding-top: 20px;

}
.GlowneFoto{
    display: none;
}
.ikons {
    padding-top: 15px;
    padding-right: 10px;
    float: left;
    color: rgba(255, 255, 255, 0.55);
    font-size: 36px;

}

@media only screen and (max-width: 500px) {
    .textStandart {
        padding-top: 0;
    }
    .btn {
        margin-top: 15px;
    }
    .textStandart > h2{
        margin: 0;
        font-size: 18px;
    }
    .textStandart > h3{
        margin: 0;
        font-size: 15px;
        padding-bottom: 10px;
        color: #ffab67;
    }
    .GlowneFoto{
        display: flex;
        width: 100vw ;
        height: auto;
            }
    .fotoGlowne >h2{  position: absolute;
        color: white;
        font-size: 30px;
        left: 0;
        right: 0;
        text-align: center;
        top: 17%;
        font-family: 'Cinzel', serif;
        text-shadow: 3px 3px 3px #000;

     }
    .fotoGlowne >h3{
        position: absolute;
        color: white;
        font-size: 18px;
        left: 0;
        right: 0;
        text-align: center;
        justify-content: center;
        top: 25%;
        font-family: 'Cinzel', serif;
        text-shadow: 3px 3px 3px #000;
    }
    .pas{
        width: 100vw ;
        padding-top: 20px ;
    }
    .container > h2{
        padding-top: 10px;
    }
    .rowContainer .block1 > p {
         font-size: 15px;

     }
    .rowContainer .block2 > p {
        font-size: 15px;

    }
}