.input{
    padding: 5px;
    color: #6f4d2d;
}

input{
    color: #6f4d2d;
     width: 100%;
    padding: 2% 0 2% 1%;

}

textarea{
    width: 100%;
    color: #6f4d2d;
    padding: 6% 0 6% 1%;
}
.btn {

    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 20px;
    clear: both;
}

h1{
    color: #6f4d2d;
    font-family: 'Cinzel', serif;
    text-align: center;
}

.textError{
    color: red;
}
/*

input:invalid:not(:placeholder-shown) {border-color: red;}
input:valid:not(:placeholder-shown) {border-color: green;}
*/

.hasError{
    border: 1px solid red;
}

.checkbox1 input{
width: 5%!important;
}

.textErrorChekbox{

    color: red;
}


.checkboxText{

    padding-left: 25px;
    font-size: 15px;
    font-family: 'Cinzel', serif;
    color: #6f4d2d;
}