.container h2 {
    color: white;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    text-shadow: 3px 3px 3px #000;

}

.container p {
    font-family: 'Cinzel', serif;
    text-shadow: 3px 3px 3px #000;
}

.container .containerContent h3 {
    padding: 10px;
    font-family: 'Cinzel', serif;

}

.container .containerContent {
    font-size: 20px;
}

.ikons {
    color: #6f4d2d;
}

.content {
    margin-bottom: 5%;
    margin-top: 5%;
}

.tempRow8 {
    margin-top: 3%;
}

@media only screen and (max-width: 600px) {
    .tempCol1 {
        text-align: center;
    }

    .tempCol2 {
        padding: 15px;
    }
}