
.fotoGlowne img {
    width: 100vw;
    margin-bottom: 50px;
    height: 700px;

}

.imageGrid {
margin: 3%;
    --num-cols: 4;
    --row-height: 300px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
}

.imageGridCol2 {
    grid-column: span 2;
    grid-row: span 2;

}
.imageGridCol5{
    grid-column: span 1;
    grid-row: span 2;
}
.imageGridCol3 {
    width: 100%;
    height: 100%!important;
    grid-row: span 3;
    grid-column: span 1;
}
.imageGridCol4{
    grid-row: span 1;
    grid-column: span 2;
}

.imageGrid > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.container h2 {
    position: absolute;
    color: white;
    font-size: 30px;
    left: 0;
    right: 0;
    text-align: center;
    top: 30%;
    font-family: 'Cinzel', serif;
    text-shadow: 3px 3px 3px #000;
}

.container p {
    position: absolute;
    color: white;
    font-size: 50px;
    left: 0;
    right: 0;
    text-align: center;
    top: 40%;
    font-family: 'Cinzel', serif;
    text-shadow: 3px 3px 3px #000;

}

.galerea {
    overflow: hidden;
    width: 100vw;
   padding: 10px 5% 50px 10%;

}

.galerea .galereaItem {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;

}

.galerea a:hover {
    cursor: zoom-in;

}

.galerea a:hover img {

    opacity: 0.8;
}
.ant-image-mask{
    width: 100%!important;
}
.link {
    position: relative;
    display: inline-block;
    width: 300px; /* ширина блока */
    margin: 5px;
}

.galereaItem img {
    width: 300px;
    height: 300px;
    object-fit: cover !important;
    border: solid 1px #999;

    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}

.galereaItem:hover img {
    opacity: .5
}

.galereaItem h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #fff; /* цвет иконки */
    font-size: 30px; /* размер иконки */

}

.galereaItem:hover h3 {
    opacity: 1;
    z-index: 1000;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.lg-thumb-item {

    filter: grayscale(100%);
    will-change: filter;
    transition: filter 0.12s ease-in, border-color 0.12s ease;
}

.lg-thumb-item:hover {
    filter: grayscale(0);
    border-color: #545454;

}

/*.galeryOn {
    padding: 30px 20px;
    width: 100%;
    left: 50%;
    top: 55%;
    height: auto;
    transform: translate(-50%, -50%);
    text-align: center;
}
.galeryOn :before {
   box-sizing: border-box;
}*/
/*


.galerea{

    width: 100%; !* ширина блока-контейнера *!
    max-width: 1300px; !* максимальная ширина контейнера *!
    margin: 0 auto; !* этот стиль центрирует контейнер *!
}


.galerea img {
    float: left; !* говорим элементам выстраиваться один за другим *!
    width: 33.333333%; !* устанавливаем ширину элемента *!
    padding: 10px; !* добавляем отступы с каждой стороны *!
    box-sizing: border-box; !* меняем способ вычисления ширины *!

    display: block;
    max-width: 100%;
    height: auto;
}

.galerea a:hover{
    opacity: 0.8;
}

.galerea a{
    display: block;
    position: relative;
}
.galerea a:after {
    content: '';
    background: transparent url(./../Assets/img/lupa.png) no-repeat center;
    width: 52px;
    height: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;

}

.galerea:hover > a:after {
    visibility: visible;
}
*/
@media screen and (max-width: 1024px) {
    .imageGrid {
        --num-cols: 2;
        --row-height: 200px;
    }
}
@media screen and (max-width: 920px) {
    .imageGridCol2{
    grid-row: span 1;
    grid-column: span 1;
    }
    .imageGridCol3{
        grid-row: span 1;
        grid-column: span 1
    }
    .imageGridCol4{
        grid-row: span 1;
        grid-column: span 1
    }
}