
.navbar-toggler  {
   margin: 0;
    padding: 0;
}

.logo{

    width: 7.5rem;

    opacity: 0.7;
}
.button1{
    padding-top: 0;
    height: 38px;
}

@media only screen and (max-width: 500px) {
    .logo {
        width: 5.5rem;
        padding-bottom: 0;
    }
    .tempCol2{
        text-align: end;
    }
    .container {
        display: inline-block!important
    }
    .space{
        min-height: 50px!important;
        display: flex;
    }
    .tempRow9{
        justify-content: center;
    }
}

.space{
    min-height: 50px;
    display: flex;
}
