
.tableStyle {
    font-size: 40px !important;
}

.smoking {
    padding-left: 12%;
    padding-top: 2%;
    margin-bottom: 8%;
}

.tempRow1 {
    margin-top: 3%;
    justify-content: center;
}

.ikons {
    padding-right: 5px;
    float: left;
    font-size: 15px;
}

.ikons2 {
    font-size: 30px;
    padding-right: 5px;
}

.tempRow2 {
    padding-top: 3%;
    text-align: center;
}

.pas img {
    width: 30%;
    height: auto;
}

.space {
    margin-bottom: 3%;
}

@media only screen and (max-width: 600px) {
    .tempCol9 {
        display: none;
    }

    .tempRow1 {
        padding: 15px;
    }

    .tempRow2 {
        padding-top: 6%;
    }

    .pas img {
        width: 70%;
    }
}